body{
    background-color: #cccccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    max-height: 100%;
}
header {
    display: flex;
    justify-content: end;
    position: relative;
    top: -0.3em;
    right: -0.3em;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .triangle1 {
        display: none;
    }
    .triangle2{
        display: none;
    }
    
  }

#navi {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("img/nav.png");
    align-items: center;
    max-width: fit-content;
    background-color: white;
    border: #333 solid 0.35em;
    border-top-left-radius: 15em;
    border-bottom-left-radius: 15em;
    border-right-color: white;
    right: 0;
    justify-content: space-between;
}
#navi a {
    color: white;
    display: flex;
    border-bottom: solid 0.1px #333;
    background-color: #333;
    border-radius: 4em;
    font-size: xxx-large;
    text-align: center;
    text-decoration: none;
    align-items: center;
    height: 2em;
    width: 5em;
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
}
.Autre_page {
    text-decoration: none;
}
.triangle1{
    width: 0;
    height: 0;
    position: absolute;
    top: 0em;
    left: 0em;
    border-top: 7.5em solid transparent;
    border-bottom: 7.5em solid transparent;
    border-left: 15em solid #2c88d9;
    margin-left: -1em;
    margin-top: -0.5em;
}
.triangle2{
    width: 0;
    position: absolute;
    top: 0em;
    left: 0em;
    height: 0;
    border-left: 0em solid transparent;
    border-bottom: 9em solid transparent;
    border-right: 18em solid white;
    margin-left: -1em;
    margin-top: -0.5em;
}
footer{
    display: flex;
    align-items: flex-end;
    background-color: white;
    background-image: url(img/nav.png);
    border: solid #333 0.35em;
    border-top-right-radius:10em;
    border-bottom-right-radius: 10em;
    margin: 0em 0em -0.5em -0.5em;
    width: fit-content;
    
}
#partenaire{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    margin-left: 1em ;
    margin-right: 1em;
}
h3{
    text-decoration: underline;
    font-size: x-large;
}
#coordonnees a{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
#partenaires{
    display: flex;
    flex-direction: row;
}
#langues{
    padding: 1em 1em 1em 0em;
}
h3{
    color: white;
}
#niv_ang{
    background-color: white;
    border-radius: 1em;
    width: 100%;    
}
#niv_r_ang{
    height: 100%;
    width: 80%;
    background-color: #333;
    border-radius: 1em;
    color: transparent;
}
#niv_esp{
    background-color: white;
    border-radius: 1em;
}
#niv_r_esp{
    height: 100%;
    width: 50%;
    background-color: #333;
    border-radius: 1Em;
    color: transparent;
}
#langues ul{
    list-style: none;
    font-size: x-large;
    color: white;
}
#contenu{
    right: 25%;
    left: 25%;
    top: 25%;
    background-color: gray;
    border-radius: 0.5em;
    width: 75%;
    margin-bottom: 5em;
    padding-left: 1em;
}
#diplo{
    color: white;
    font-size: large;
}
#diplo ul{
    list-style: none;
}
main{
    display: flex;
    justify-content: center;
    
}
#comp ul{
    list-style: none;
}
#comp{
    font-size: large;
    color: white;
}
.projet{
    text-align: center;
    font-size: large;
    width: fit-content;
    border-top: #333 1px solid;
    border-bottom: #333 1px solid;
    margin-bottom: 1em;
    margin-top: 1em;
}
.projet p{
    color: #333;
}

