.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 0.25em;
  top: 1em;
  right: 1em;
}

/* Cacher la checkbox HTML */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Le fond du switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  transition: .4s;
  border-radius: 34px;
}

/* Le cercle qui glisse */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(129, 128, 128);
  transition: .4s;
  border-radius: 50%;
}

/* Quand le bouton est activé */
input:checked + .slider {
  background-color: #212830;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
